[submodule "src/modules/hex-engine"]
	path = src/modules/hex-engine
	url = https://github.com/Hierifer/hex-engine

[submodule "src/modules/matrix-editor"]
	path = src/modules/matrix-editor
	url = https://github.com/Hierifer/matrix-editor
